<div class="container">
  <div *ngFor="let location of locations">
    <button
      [class.selected]="location === selectedLocation"
      type="button"
      (click)="onSelect(location)"
      class="btn btn-info"
    >
      <span class="continent">{{ location.continent }}</span>
      <span class="city">{{ location.city }}</span>
    </button>
  </div>
</div>
<div *ngIf="selectedLocation">
  <h2>
    {{ selectedLocation.continent | uppercase }}
    {{ selectedLocation.city | uppercase }}
  </h2>
  <div>{{ datetime }}</div>
</div>
